*,
::after,
::before {
	box-sizing: border-box;
}

.collapse {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

	&.show {
		max-height: 99em;
		transition: max-height 0.5s ease-in-out;
	}
}

.block {
	margin-top: 10px;
	background: #f5f5f5;
	padding: 0;
	// height: 250px;

	&__content {
		border: 1px solid #ccc;
		padding: 1.5em;
		height: 100%;
	}
}
