@use '~@material/button/styles';
@use '~@material/card/mdc-card';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.collapsible {
	margin-top: 10px;
	margin-bottom: 10px;

	button {
		--mdc-theme-primary: hsl(338deg, 78%, 48%);
		--mdc-theme-on-primary: hsl(14deg, 96%, 90%);
	}

	> button {
		font-size: 1em;
	}

	&__content {
		margin: 10px;
		display: none;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
		color: hsla(0deg, 0%, 0%, 90%);

		> button {
			font-size: 0.75em;
		}
	}
}

/* linkwarning container */
.link-sus {
	// haha funny amogus
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted hsl(0deg, 0%, 0%);

	.link-sus-text {
		visibility: hidden;
		width: 120px;
		background-color: hsl(0deg, 0%, 0%);
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		top: 150%;
		left: 50%;
		margin-left: -60px;

		&::after {
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent hsl(0deg, 0%, 0%);
		}
	}

	&:hover {
		.link-sus-text {
			visibility: visible;
		}
	}
}
