*,
::after,
::before {
	box-sizing: border-box;
}

.collapse {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

	&.show {
		max-height: 99em;
		transition: max-height 0.5s ease-in-out;
	}
}

.block {
	margin-top: 10px;
	background: #f5f5f5;
	padding: 0;
	// height: 250px;

	&__content {
		border: 1px solid #ccc;
		padding: 1.5em;
		height: 100%;
		color: rgb(0, 0, 0);
	}
}

/* linkwarning container */
.link-sus { // haha funny amogus
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted rgb(0, 0, 0);

	.link-sus-text {
		visibility: hidden;
		width: 120px;
		background-color: rgb(0, 0, 0);
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		top: 150%;
		left: 50%;
		margin-left: -60px;

		&::after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent rgb(0, 0, 0);
		}
	}

	&:hover {
		.link-sus-text {
			visibility: visible;
		}
	}
}
